.icon-button {
  background: none;
  border: none;
  color: inherit
}

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 0rem !important;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.c-link {
  cursor: pointer;
}

.fixed-row-bottom { 
  position: fixed; 
  bottom: 0;
}